jupyter>=1.0.0
jupyterlab
docarray
langchain[docarray]
google-cloud-aiplatform>=1.26.0
google-generativeai
gpt4all>=1.0.6
huggingface-hub>=0.14.1
langchain
langchain-community
langchain_decorators
langchain-experimental
langchain-openai
langchain-text-splitters
langsmith
langchainhub
numpy
pandas
plotly
prompt-toolkit
pydantic
scikit-learn
streamlit>=1.24.1
tiktoken>=0.4.0
tokenizers
toml
tomli
tomlkit
transformers
xgboost
openai==1.55.3
httpx==0.27.2
