streamlit
pickle
pandas
numpy
xgboost
os
dotenv
RetrievalQA
CSVLoader
CharacterTextSplitter
ChatOpenAI
OpenAIEmbeddings
DocArrayInMemorySearch
PromptTemplate
langchain.chains
langchain.document_loaders.csv
langchain.text_splitter
langchain_openai
langchain.vectorstores
langchain.prompts
langchain[docarray]==0.0.284
docarray
plotly.express