jupyter>=1.0.0
jupyterlab
langchain[docarray]==0.0.284
docarray
google-cloud-aiplatform>=1.26.0
google-generativeai
gpt4all>=1.0.6
huggingface-hub>=0.14.1
langchain
langchain-community
langchain_decorators>=0.2.3
langchain-experimental==0.0.25
langchain-openai
langchain-text-splitters
langsmith==0.0.65
langchainhub
numpy
pandas
plotly
prompt-toolkit
pydantic
scikit-learn
streamlit>=1.24.1
tiktoken>=0.4.0
tokenizers
toml
tomli
tomlkit
transformers
xgboost
openai==1.55.3
httpx==0.27.2
